// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.toolbar-background {
  color: #fff;
  background: #1b2836;
}

.toolbar-title,
ion-icon {
  color: #fff;
}

.scroll-content{
  display: flex;
  flex-flow: row wrap;
  align-items:center;
  background: rgba(27, 40, 54,.75)

}

ion-card {
  display: flex;
  flex-flow: row wrap;
  align-items:center;
  color: rgba(27, 40, 54,.7);
  &:before{
    position: relative;
    margin: 10px auto;
    color: map-get($colors, danger);
    font-size: 3rem;
    content: "\1F4CD";
  }
}

.card-content{
  font-size: 3.3rem;
  font-style:italic;
  &:before{
    content: "\275D";
    margin-right: 15px;
  }
  &:after {
    content: '\275E';
    margin-left: 15px;
  }
}
